VITE_UNLEASH_URL=https://localhost:4242/api/frontend
VITE_UNLEASH_CLIENT_KEY=YOUR_FRONTEND_TOKEN
VITE_UNLEASH_APP_NAME=react-example-app
VITE_UNLEASH_REFRESH_INTERVAL=15
VITE_UNLEASH_ENVIRONMENT=development
VITE_EXAMPLE_DEFAULT_USER=guest
